
.search_list
{
background-color:rgb(25, 192, 200);
 width: 400px;
          
            padding: 8px 12px;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px 8px 8px 8px;
            font-size: 16px;
            color: #111;
            background-color: #F1F1F1;
            list-style: none;
}
.search_list:hover
{
	background-color: #E6E6FA;
}